{% extends 'layouts/layout.twig' %}
{% block content %}

{% set bgset = [] %}
{% for key, size in post.image.sizes %}
  {% set bgset = bgset | merge(["#{size.url} #{size.width}w"]) %}
{% endfor %}
{% set bgset = bgset | join(', ') %}

<article class='post'>
  <div class='post__image-container'>
    <a href='{{ post.permalink }}'>
      {% include 'partials/_bg_image.twig' with { bgset: bgset } %}
    </a>
  </div>

  <h5 class='post__title'>
    <a href='{{ post.permalink }}'>
      {{ post.title }}
    </a>
  </h5>
  <small>
    {% set date_string = post.post_date | date("F j, Y") %}
    {% set author_string = "by " ~ post.author.name %}
    <span class="post__date">{{ date_string }}</span>
    |
    <span class="post__author">{{ author_string }}</span>
  </small>

  {% include 'partials/_social_icons.twig' %}

  <div class='content-layout'>
    <div class='content-layout__text'>

      {{ post.post_content }}
    </div>
  </div>
</article>

{% endblock %}
