{#
  Macro: class_with_modifiers

  Generates HTML class attribute with values based on a given class and class modifiers.
  Useful mainly for implementing BEM style elements.

  @params:
    - base_class (string)   The base styling class for this element
    - modifiers (array)     BEM style modifiers to be applied on this element
    - extra_classes (array) Classes that are outsidethe BEM element styling scope, for example, for javascript behavior

  e.g
    {{ macros.class_with_modifiers("element", ["type-a", "type-b"], ["js-element"]) }}
    outputs => class="element element--type-a element--type-b js-element"
#}
{% macro class_with_modifiers(base_class, modifiers, extra_classes) %}
  {% set mod_class = [base_class] %}
  {% set modifiers = modifiers | default([]) %}
  {% for mod in modifiers %}
    {% set mod_class = mod_class | merge(["#{base_class}--#{mod}"]) %}
  {% endfor %}

  {% set extra_classes = extra_classes | default([]) %}
  {% for extra in extra_classes %}
    {% set mod_class = mod_class | merge([extra]) %}
  {% endfor %}

   class="{{ mod_class | join(' ') }}"
{% endmacro %}
