.bg-image-component {
  height: 100%;
  background-size: cover;
  background-position: center;

  &.lazyloading {
    // should probably set some style while the image is loading. Example:
    // background-color: $gallery;
  }
}

