<!doctype html>
<html>
  <head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" name="viewport">

    <link rel="shortcut icon" href="{{ layouts_uri }}/images/favicons/favicon.ico" type="image/x-icon" />

    <link href="{{ layouts_uri }}/assets/all.css{{ query_version }}" rel="stylesheet">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>{{ data.page.title | default('Welcome to Middleman') }} </title>

    {{ wp_head }}
  </head>

  <body class="{{ page_classes }}">
    {% include 'partials/_overlay_menu.twig' %}
    <div class="{{ container_class }}">
      {% include 'partials/_navigation_bar.twig' %}
      {% block content %}{% endblock %}
      {% include 'partials/_footer.twig' %}
    </div>

    <script type="text/javascript" src="{{ layouts_uri }}/assets/all.js{{ query_version }}"></script>
    {{ wp_footer }}
  </body>

</html>
