{% import "macros/macros.twig" as macros %}

{% set size_keys = size_keys | default([]) %}

{% set alt = alt | default(image.alt) %}

{% set bgset = [] %}
{% for key, size in image.sizes if key in size_keys %}
  {% set bgset = bgset | merge(["#{size.source_url} #{size.width}w"]) %}
{% endfor %}
{% set bgset = bgset | join(', ') %}

<div
  role="img"
  {% if alt is not empty %}aria-label="{{ alt }}"{% endif %}
  data-sizes="auto"
  data-bgset="{{ bgset }}"
  {{ macros.class_with_modifiers('bg-image-component', modifiers, ['lazyload']) }}>
</div>