<ul class="category-links">
  {% for c in categories %}
    <li class='category-links__item category-links__item--{{ c.slug }}'>
      <a href='{{ c.permalink }}' class='category-links__name'>
        {{ c.name }}
      </a>
    </li>
  {% endfor %}
</ul>
