<footer class='footer'>
  {% include 'partials/_logo.twig' %}
  {% include 'partials/_legal_links.twig' %}
  {% include 'partials/_social_icons.twig' %}

  <div class="footer_legal-copy">
    {{ lorem.paragraph }}
  </div>
</footer>
