{% set action = action|default('') %}
{% set label = label|default('') %}
{% set placeholder = placeholder|default('') %}

<div class='{{ action }}-form'>
  <form class='form' action='/{{ action }}'>
    <div class='form-group'>
      <label for='{{ label }}'>{{ action | title }}</label>
      <input type='text' id='{{ label }}' class='form-control input' placeholder='{{ placeholder }}'/>
    </div>
  </form>
</div>
