{% import "macros/macros.twig" as macros %}

{% set size_keys = size_keys | default([]) %}

{% set alt = alt | default(image.alt) %}

{% set srcset = [] %}
{% for key, size in image.sizes if key in size_keys %}
  {% set srcset = srcset | merge(["#{size.source_url} #{size.width}w"]) %}
{% endfor %}
{% set srcset = srcset | join(', ') %}

{% set mod_class = [] %}
{% set modifiers = modifiers | default([]) %}
{% for mod in modifiers %}
  {% set mod_class = mod_class | merge(["image-component--#{mod}"]) %}
{% endfor %}

<img
  alt="{{alt}}"
  {% if alt is not empty %}aria-label="{{ alt }}"{% endif %}
  data-sizes="auto"
  {% if src %}data-src="{{ src }}"{% endif %}
  data-srcset="{{ srcset }}"
  {{ macros.class_with_modifiers('image-component', modifiers, ['lazyload']) }}/>
