<ul class="legal-links">
  <li class='legal-links__item'>
    <a href='about'>About</a>
  </li>
  <li class='legal-links__item'>
    <a href='contact'>Contact</a>
  </li>
  <li class='legal-links__item'>
    <a href='terms'>Terms of Use</a>
  </li>
  <li class='legal-links__item'>
    <a href='privacy'>Privacy Policy</a>
  </li>
</ul>
