<div class="load-more js-loading {% if hidden %}is-hidden{% endif %}">
  <span class="screen-reader-only">Loading...</span>
  <img class="load-more__image" alt="Loading" src="{{ layouts_uri }}/images/ajax-loader.gif">
</div>