{% import "macros/macros.twig" as macros %}

{% set type = type|default([]) %}

{% set category_class = [] %}
{% for c in post.categories %}
  {% set category_class = category_class | merge(["post-excerpt--category--#{c.slug}"]) %}
{% endfor %}

<article {{ macros.class_with_modifiers('post-excerpt', type, category_class) }}>
  {% if 'no-image' not in type %}
    <a href='{{ post.permalink }}'>
      {% include 'partials/_bg_image.twig' with { bgset: bgset } %}
    </a>
  {% endif %}
  {% for category in post.categories %}
    <h6 class='post-excerpt__category'>
      <a href={{ category.permalink }}>
        {{ category.name }}
      </a>
    </h6>
  {% endfor %}
  <div class='post-excerpt__text-container'>
    <h4 class='post-excerpt__title'>
      <a href={{ post.permalink }}>
        {{ post.title }}
      </a>
    </h4>
    <small>
      {% set date_string = post.post_date | date("F j, Y") %}
      {% set author_string = "by " ~ post.author.name %}
      <span class="post__date">{{ date_string }}</span>
      |
      <span class="post__author">{{ author_string }}</span>
    </small>
  </div>
</article>