<div class='social-icons'>
  <a class='social-icons__link social-icons__link--twitter' href='#'>
    <span class='social-icons__icon'>
      <i class='fa fa-twitter'></i>
    </span>
    <span class='screen-reader-only'>Share with Twitter</span>
  </a>
  <a class='social-icons__link social-icons__link--facebook' href='#'>
    <span class='social-icons__icon'>
      <i class='fa fa-facebook'></i>
    </span>
    <span class='screen-reader-only'>Share with Facebook</span>
  </a>
  <a class='social-icons__link social-icons__link--linkedin' href='#'>
    <span class='social-icons__icon'>
      <i class='fa fa-linkedin'></i>
    </span>
    <span class='screen-reader-only'>Share with LinkedIn</span>
  </a>
  <a class='social-icons__link social-icons__link--envelope' href='#'>
    <span class='social-icons__icon'>
      <i class='fa fa-envelope'></i>
    </span>
    <span class='screen-reader-only'>Share with Email</span>
  </a>
</div>