/**
 * Used to define common container margins for overall layout alignment
 *
 * Sample:
 * $content-container-spacing-side: 8.5%;
 * $content-container-spacing-side-small: 8.5%;
 * $content-container-spacing-side-medium: 4%;
 * $content-container-spacing-side-large: 14%;
 **/