$spacing-map: ('p' : 'padding', 'm' : 'margin');

$spacing-pos: ('top', 'bottom', 'left', 'right');

@each $key, $value in $spacing-map {
  .#{$key} {
    &--0 {
      #{$value}: 0 !important;
    }

    @each $pos in $spacing-pos {
      &--#{$pos}-0 {
        #{$value}-#{$pos}: 0 !important;
      }
    }

    // horizontal 0
    &--v-0 {
      #{$value}-bottom: 0 !important;
      #{$value}-top: 0 !important;
    }

    // vertical 0
    &--h-0 {
      #{$value}-left: 0 !important;
      #{$value}-right: 0 !important;
    }
  }
}