/*
 * Define fonts and writing relatead styles here.
 * For example:
 * @font-face {
 *   font-family: $font-example;
 *   src: url("...");
 *   src: url("...") format("embedded-opentype"),
 *        url("...") format("woff2"),
 *        url("...") format("woff"),
 *        url("...") format("truetype"),
 *        url("...") format("svg");
 *   font-weight: $font-weight-normal;
 *   font-style: normal;
 * }
 *
 **/